@import url('variables.less');
@import url('mixins.less');

i {
  pointer-events: none;
  color: inherit;
}

.btn {
  white-space: nowrap;
  border: 1px solid @gray-light;
  padding: 5px 10px;
  border-radius: @radius;
  background-color: @green;
  .outer-shadow();
  cursor: pointer;
  transition: all 150ms ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;

  &:hover {
    background-color: @green-light;
  }
  
  &:active {
    background-color: @green-dark;
    box-shadow: none;
  }

  &--lg {
    padding: 10px 20px;
    font-size: 16px;
  }

  &--send {
    font-size: 25px;
  }

  &--empty {
    border: none;
    padding: 0;
    background-color: transparent;
    box-shadow: none;

    i {
      color: lighten(@gray-light, 13%);
    }

    &:hover {
      background-color: transparent;
      border-color: @green-light;
      
      i {
        color: @green-light;
      }
    }

    &:active {
      background-color: transparent;
      border-color: @green-dark;

      i {
        color: @green-dark;
      }
    }
  }
}