@import url('variables.less');
@import url('mixins.less');

#mocha {
    color: @color;
    code ,
    &-stats em {
        color: @color;
    }
    z-index: 99;
}

::-webkit-scrollbar-track {
	border-left: 1px solid @gray-light;
	background-color: @gray;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: @gray;
}

::-webkit-scrollbar-thumb {
    
	background-color: @green-gray;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font: 14px Arial, serif;
    background-color: @black;
    color: @color;
}

.hidden {
    display: none !important;
}

.layout {
    width: 100%;
    height: 90vh;
    max-width: 800px;
    max-height: 600px;
    margin: auto;
    padding: 30px 10px;
}

.chat {
    display: flex;
    border: 1px solid @gray-light;
    height: 100%;
    border-radius: @radius;
    background-color: @gray;

    &__rooms {
        border-right: 1px solid @gray-light;
    }

    &__users {
        display: flex;
        flex-direction: column;
        border-left: 1px solid @gray-light;
        padding: 12px 15px;
    }

    &__users,
    &__rooms {
        flex: 1 1 20%;
    }

    &__content {
        flex: 1 1 60%;
        display: flex;
        flex-direction: column;
    }

    &__history {
        flex: 1;

    }

    &__textarea {
        display: flex;
        align-items: center;
        border-top: 1px solid @gray-light;
        padding: 10px 15px;
    }
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid @gray-light;
    padding-bottom: 12px;
    width: 100%;
    font-size: 11px;
    text-transform: uppercase;
    color: lighten(@gray-light, 15%);

    &--indent {
        margin: 0;
        padding: 12px 15px;
        width: auto;
    }
}

.history {
    position: relative;
    overflow: auto;

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        min-height: 100%;
    }
}

.msg {
    position: relative;
    margin: 0 10px 15px;
    border: 1px solid @gray-light;
    padding: 17px 18px;
    min-width: 80px;
    border-radius: @radius * 2;
    background-color: @gray-dark;
    .outer-shadow();

    &--current {
        align-self: flex-end;
    }

    &__name {
        position: absolute;
        top: -11px;
        left: 10px;
        padding: 2px 5px;
        border: 1px solid @gray-light;
        background: @gray;
        border-radius: @radius;
        .outer-shadow();

        &--current {
            background-color: @green-gray;
            border-color: lighten(@gray-light, 13%);
        }
    }

    &__edit,
    &__remove {
        position: absolute;
        top: 4px;
        font-size: 9px;
    }

    &__edit {
        right: 16px;
    }

    &__remove {
        right: 3px;
    }
}

.input {
    border: 1px solid @gray-light;
    padding: 12px 15px;
    border-radius: @radius;
    background-color: @gray-dark;
    outline: none;
    color: @color;

    &--error {
        border-color: @error;
    }

    &:focus {
        border-color: @green-light;
    }

    &--indent {
        margin-bottom: 15px;
    }
}

.textarea {
    flex: 1;
    background-color: transparent;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    color: @color;
    resize: none;
}

.room {
    position: relative;
    border-bottom: 1px solid @gray-light;
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
        background-color: @gray-light;
    }

    &--active,
    &--active:hover {
        background-color: @green-gray;
        cursor: initial;
    }

    &[data-unread]:after {
        content: attr(data-unread);
        content: attr(data-unread);
        position: absolute;
        top: 50%;
        left: -9px;
        border: 1px solid lighten(@gray-light, 13%);
        width: 14px;
        height: 14px;
        font-size: 8px;
        line-height: 15px;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        background: @green-gray;
        transform: translateY(-50%);
        .outer-shadow();
    }

    &__close-btn {
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
    }
}

.user {
    padding: 4px 5px 4px 7px;
    border: 1px solid @gray-light;
    background: @gray-dark;
    border-radius: 4px;
    .outer-shadow();

    &:not(:last-child) {
        margin-bottom: 10px;
    }

    &--current {
        background-color: @green-gray;
        border-color: lighten(@gray-light, 13%);
    }
}

.popup {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;

    &__substrate {
        width: 100%;
        height: 100%;
        background-color: @black;
    }

    &__content {
        position: absolute;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 50%;
        left: 50%;
        border: 1px solid @gray-light;
        padding: 25px;
        border-radius: @radius;
        transform: translate(-50%, -50%);
        background-color: @gray;
    }
}

.online,
.offline {
    display: inline-block;
    margin-right: 7px;
    border: 1px solid @gray-dark;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.online {
    background-color: @green;
    pointer-events: none;
}

.offline {
    background-color: @error;
    pointer-events: none;
}

.dropdown {
    position: relative;
    z-index: 1;

    &__popup {
        position: absolute;
        top: 0;
        right: 0;
        border: 1px solid @gray-light;
        padding: 10px;
        border-radius: @radius;
        .outer-shadow();
        background-color: @gray;
        z-index: 2;
        text-transform: initial;

        &--right {
            right: auto;
            left: 0;
        }
    }

    &__content {
        position: relative;
        z-index: 10;
    }

    &__substrate {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9;
    }
}