html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
}
body {
    min-height: 100vh;
}
.layout {
    margin: auto;
    padding: 50px 0;
    max-width: 1000px;
}
textarea {
    border: 2px solid #666;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
}
button {
    display: block;
    margin: auto auto 30px;
    border: none;
    padding: 10px;
    width: 100%;
    max-width: 250px;
    background-color: #4543b1;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}
.header {
    position: relative;
    border: 2px solid #666;
    padding: 10px;
    font-weight: 700;
    cursor: pointer;
    background-color: #eaeaea;
}
.header:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    border-width: 8px 5px 0 5px;
    border-style: solid;
    border-color: transparent;
    border-top-color: #666;
    transform: translateY(-50%);
}
.header.opened:after {
    transform: translateY(-50%) rotate(180deg);
}
.dropdown {
    display: none;
    padding: 10px;
    border: 2px solid #666;
    border-top: none;
}
.header.opened + .dropdown {
    display: block;
}
.dropdown + .header {
    margin-top: 10px;
}
.row:not(:last-child) {
    margin-bottom: 10px;
}
.red {
    background-color: #f1d4d4;
}
.green {
    background-color: #afc7af;
}