@import url('variables.less');
@import url('mixins.less');

.btn {
    display: block;
    margin-top: 8px;
    border: 1px solid @gray;
    padding: 9px 5px;
    width: 13%;
    .border-radius(@radius / 2);
    font-size: 12px;
    color: @color;
    background: @gray;
    cursor: pointer;
    outline: none;

    @media screen and (min-width: 500px) {
        padding: 9px 15px;
        font-size: 14px;
    }

    &:hover {
        background-color: @gray-hover;
        border-color: @gray-hover;
    }

    &--light {
        background-color: @gray-light;

        &:hover {
            background-color: @gray-light-hover;
            border-color: @gray-light-hover;
        }
    }   

    &--blue {
        background-color: @blue;
        color: #fff;
        border: 1px solid @blue;

        &:hover {
            background-color: @blue-hover;
            border-color: @blue-hover;
        }
    }

    &--radio {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 27.2%;
        padding: 0;
        color: @gray-disabled;

        input {
            display: none;

            &:checked + label {
                color: @color;
            }
        }

        label {
            flex: 1;
            padding: 9px 5px;
            text-align: center;
            cursor: pointer;

            @media screen and (min-width: 500px) {
                padding: 9px 15px;
            }
        }

        label:nth-child(2) {
            order: 1;
        }

        label:nth-child(4) {
            order: 3;
        }

        &:after {
            content: '|';
            order: 2;
        }
    }
}