@import url('variables.less');
@import url('mixins.less');

#mocha {
    width: 100%;
}

body {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    background-color: #eaeaea;
    font: 14px Arial, serif;
    color: @color;
}

.layout {
    margin: auto;
    padding: 10px;
}

.calc {
    box-sizing: border-box;
    border: 1px solid @gray;
    padding: 16px 16px 12px;
    width: 100%;
    max-width: 630px;
    .border-radius(@radius);
    background-color: #fff;

    &__display {
        border: 1px solid @gray;
        margin-bottom: 4px;
        padding: 14px 10px;
        min-height: 42px;
        .border-radius(@radius);
        font-size: 18px;
        text-align: right;
    }

    &__holder {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

sup {
    vertical-align: super;
    font-size: 10px;
}