@color: #acabab;

@shadow-color: #070707;

@error: #750808;

@black: #000;

@gray: #1b1b1b;
@gray-dark: #101010;
@gray-light: #2b2b2b;

@green: #338842;
@green-dark: #1b5a26;
@green-gray: #283a2c;
@green-light: #4bb15d;

@radius: 4px;