@import url("variables.less");
@import url("mixins.less");

#mocha {
  &-stats em {
    color: @color;
  }
}

body {
  min-height: 100vh;
  font: 14px Arial, serif;
  color: @color;
  background-color: @black;
}

.layout {
  margin: auto;
  padding: 25px;
  max-width: 800px;
}

.table {
  border-collapse: collapse;
  margin: 0 auto;
  width: 100%;
  .outer-shadow();

  &__th,
  &__td {
    border: 1px solid @gray-light;
    padding: 15px 25px;
  }

  &__th {
    font-weight: 600;
    text-transform: uppercase;
    color: @green;
    background-color: @gray;
  }

  &__td {
    .inner-shadow();
    background-color: @gray-dark;
    text-align: center;
    cursor: pointer;

    .table__tr:hover & {
      background-color: @gray;
      box-shadow: none;
    }

    .table__tr--active &,
    .table__tr--active:hover & {
      background-color: @green-gray;
      box-shadow: none;
    }
  }
}

.form {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid @gray-light;
  border-top: none;
  margin: 0 auto;
  padding: 20px 10px;
  background-color: @gray;

  &__row {
    flex-grow: 1;
    display: flex;
    padding: 0 10px;
    align-items: baseline;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &--btn-holder {
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
    }
  }

  &__input {
    flex: 1;
  }
}

.input {
  border: 1px solid @gray-light;
  padding: 10px 15px;
  background-color: @gray-dark;
  outline: none;
  color: @color;

  &:focus {
    box-shadow: 0 0 3px 1px #4bb15d;
  }
}

.select {
	margin-right: auto;
	border: 1px solid @green;
	padding: 8px;
	border-radius: @radius / 2;
	color: @green;
	background-color: transparent;
	outline: none;
	.outer-shadow();
}

option {
	background-color: @gray;
	outline: none;
	border-color: @green;
}