html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-size: 20px;
    font-weight: 600;
    background: #1c1c23;
    color: #fff;
}
#mocha-stats em {
    color: green;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
    display: flex;
    min-height: 100vh;
}
.calc {
    margin: 50px auto auto;
    border: 2px solid #808080;
    border-radius: 10px;
    padding: 15px;
    max-width: 300px;
}
.calc__display {
    box-sizing: border-box;
    margin: 0 5px 10px;
    border: 2px solid #808080;
    border-radius: 5px;
    padding: 10px;
    height: 44px;
    text-align: right;
}
.calc__holder {
    display: flex;
    flex-wrap: wrap;
}
.calc__holder:before {
    content:'';
    flex: 1 1 calc(25% - 10px);
    margin: 5px;
}
.calc__btn {
    flex: 1 1 calc(25% - 10px);
    margin: 5px;
    border: 2px solid #808080;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
}