.btn {
  margin-left: 10px;
  border: 1px solid #000;
  padding: 3px 10px;
  background-color: #c0e2b2;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;

  &--red {
    background-color: #ffd9d9;
  }
}