@import url('variables.less');
@import url('mixins.less');


.btn {
  white-space: nowrap;
  border: 1px solid @gray-light;
  margin-top: 10px;
  padding: 5px 10px;
  min-width: 39px;
  border-radius: 4px;
  background-color: @green;
  .outer-shadow();
  cursor: pointer;
  transition: all 150ms ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 600;

  &:hover {
    background-color: @green-light;
    box-shadow: 0 0 3px 1px #4bb15d;
  }

  &:focus {
    box-shadow: 0 0 3px 1px #4bb15d;
  }

  &:active {
    background-color: @green-dark;
    box-shadow: none;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }

  &--lg {
    min-width: 88px;
  }
}