@import url('variables.less');
@import url('mixins.less');

#mocha {
    &-stats em {
        color: @color;
    }
}

body {
    min-height: 100vh;
    font: 14px Arial, serif;
    color: @color;
    background-color: @black;
}

i {
    pointer-events: none;
}

.layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 25px;
}

.table {
    flex-basis: 581px;
    border-collapse: collapse;
    margin: 0 15px;
    .outer-shadow();

    &__th, &__td {
        border: 1px solid @gray-light;
        padding: 15px 25px;

        &:first-child {
            width: 40px;
        }

        &:last-child {
            width: 40px;
        }
    }

    &__th {
        font-weight: 600;
        text-transform: uppercase;
        color: @green;
        background-color: @gray;
    }

    &__td {
        .inner-shadow();
        background-color: @gray-dark;
        cursor: pointer;

        .table__tr:hover & {
            background-color: @gray;
            box-shadow: none;
        }

        .table__tr--active &,
        .table__tr--active:hover & {
            background-color: @green-gray;
            box-shadow: none;
        }
    }
}

.form {
    border: 1px solid @gray-light;
    margin: 0 15px;
    padding: 25px 25px;
    background-color: @gray;

    &__row {
        display: flex;
        align-items: baseline;

        &:not(:last-child) {
            margin-bottom: 15px;
        }

        &--btn-holder {
            flex-wrap: wrap;
        }
    }

    &__input {
        flex: 1;
    }
}

.input-label {
    margin-right: 10px;
    min-width: 80px;
    text-align: right;
}

.input {
    border: 1px solid @gray-light;
    padding: 7px 15px;
    background-color: @gray-dark;
    outline: none;
    color: @color;

    &:focus {
        box-shadow: 0 0 3px 1px #4bb15d;
    }
}

.popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid @gray-light;
    padding: 25px 30px 20px;
    background-color: @gray;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: 999;
    font-size: 20px;
    box-shadow: 0 0 5px 3px @shadow-color;
    &__active {
        display: block;
    }

    &__message {
        margin-bottom: 10px;
    }
}