@import url('variables.less');
@import url('mixins.less');


.btn {
  white-space: nowrap;
  border: 1px solid @gray-light;
  padding: 5px 10px;
  border-radius: @radius;
  background-color: @green;
  .outer-shadow();
  cursor: pointer;
  transition: all 150ms ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;

  &:hover {
    background-color: @green-light;
    box-shadow: 0 0 3px 1px #4bb15d;
  }
  
  &:active {
    background-color: @green-dark;
    box-shadow: none;
  }

  &--lg {
    padding: 10px 20px;
    font-size: 16px;
  }
}