@import url('variables.less');
@import url('mixins.less');

#mocha {
    color: @color;
    code ,
    &-stats em {
        color: @color;
    }
    z-index: 99;
}

::-webkit-scrollbar-track {
	border-left: 1px solid @gray-light;
	background-color: @gray;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: @gray;
}

::-webkit-scrollbar-thumb {
    
	background-color: @green-gray;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font: 14px Arial, serif;
    background-color: @black;
    color: @color;
}

.layout {
    width: 100%;
    height: 90vh;
    max-width: 800px;
    max-height: 600px;
    margin: auto;
    padding: 30px 10px;
}

.chat {
    display: flex;
    border: 1px solid @gray-light;
    height: 100%;
    border-radius: @radius;
    background-color: @gray;

    &__rooms {
        border-right: 1px solid @gray-light;
    }

    &__users {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-left: 1px solid @gray-light;
        padding: 15px;
    }

    &__users,
    &__rooms {
        flex: 1 1 20%;
    }

    &__content {
        flex: 1 1 60%;
        display: flex;
        flex-direction: column;
    }

    &__history {
        flex: 1;

    }

    &__textarea {
        display: flex;
        border-top: 1px solid @gray-light;
        padding: 10px 15px;
    }
}

.history {
    position: relative;
    overflow: auto;

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        min-height: 100%;
    }
}

.msg {
    position: relative;
    margin: 0 10px 15px;
    padding: 15px 16px;
    border: 1px solid @gray-light;
    border-radius: @radius * 3;
    background-color: @gray-dark;
    .outer-shadow();

    &__name {
        position: absolute;
        top: -11px;
        left: 10px;
        padding: 2px 5px;
        border: 1px solid @gray-light;
        background: @gray;
        border-radius: 4px;
        .outer-shadow();

        &--current {
            background-color: @green-gray;
        }
    }
}

.input {
    margin-bottom: 15px;
    border: 1px solid @gray-light;
    padding: 12px 15px;
    border-radius: @radius;
    background-color: @gray-dark;
    outline: none;
    color: @color;

    &--error {
        border-color: @error;
    }

    &:focus {
        box-shadow: 0 0 3px 1px #4bb15d;
    }
}

.textarea {
    flex: 1;
    background-color: transparent;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    color: @color;
    resize: none;
}

.room {
    border-bottom: 1px solid @gray-light;
    padding: 15px 20px;
    cursor: pointer;

    &:hover {
        background-color: @gray-light;
    }

    &--active,
    &--active:hover {
        background-color: @green-gray;
        cursor: initial;
    }
}

.user {
    margin-bottom: 10px;
    padding: 2px 5px;
    border: 1px solid @gray;
    background: @green-gray;
    border-radius: 4px;
}

.popup {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    &--hidden {
        display: none;
    }

    &__substrate {
        width: 100%;
        height: 100%;
        background-color: @black;
    }

    &__content {
        position: absolute;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 50%;
        left: 50%;
        border: 1px solid @gray-light;
        padding: 25px;
        border-radius: @radius;
        transform: translate(-50%, -50%);
        background-color: @gray;
    }
}

.online,
.offline {
    display: inline-block;
    margin-right: 5px;
    border: 1px solid @gray-dark;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.online {
    background-color: @green;
}

.offline {
    background-color: @error;
}